region="us-central1"
zone="us-central1-b"
project="************"
ip_address="************"
database_name="************"
database_user="************"
database_password="************"
postgres_ip="************"
application_host="127.0.0.1"
github_branch="develop"
gs_bucket="************"
gs_bucket_url="************"
django_environment="staging"
network="default"
compute_instance_name="************"
image_name="************"
twilio_account_sid="************"
twilio_auth_token="************"
email_host="************"
email_host_user="************"
email_host_password="************"
google_application_credentials="gs-account/account.json"
gs_credentials="${file("../account/account.json")}"